
.card1{
    font-family: ;
    background-color:#bee2e9 ;
    height: 20px;
    width: 50px;
}
@font-face {
    font-family:"Montserrat-Black" ;
    src: url(fonts/Montserrat-Black.ttf);
}
.monstarart{
    
}
.card2{
    background-color:#facdb2 ;
    height: 20px;
    width: 100px;
}
@font-face {
    font-family: "Roboto-Condensed";
    src: url(fonts/Roboto_Condensed-Black.ttf);
}
.roboto{
    font-family: "Roboto-Italic";
}

.card3{
    background-color:#d9e8c9 ;
    height: 20px;
    width: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.open{
font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.card4{
    background-color:#d4ceea  ;
    height: 20px;
    width: 100px;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.play{
     font-family: "Playfair Display" ;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.card5{
    background-color:#dbdbdb  ;
    height: 20px;
    width: 100px;
}
.arial{
    font-family: Arial, Helvetica, sans-serif;
}
.card6{
    
    
    background-color:#fdeab2 ;
    height: 20px;
    width: 100px;
}
.verdana{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}