 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    max-width: 1300px;
    margin: auto;
}
.section-1{
    display: flex;
}  
.logo{
    width: 20%;
    height: 100px;
    background-color: brown;
    border: 10px solid white;
}
.menu{
    background-color: rgb(204, 51, 51);
    width: 80%;
    height: 100px;
     border: 10px solid white;
}
.section-2{
    display: flex;
}
.header{
    width: 70%;
    height: 100px;
    border: 10px solid white;
    background-color: rgb(51, 0, 0);
}
.ads{
    width: 30%;
    height: 300px;
}
.articles-top{
    display: flex;
}

