/* .main{
    width: 100%;
    height: 100vh;
    border: 2px solid rosybrown;
    background-color: rosybrown;
}
.item1{
    width: 500px;
    height: 500px;
    background-color: rgb(238, 96, 124);
}
.text{
    text-align: center;
    font-size: 50px;
    color: white;
    padding-top: 200px;
}
.item2{
    width: 650px;
    height: 200px;
    background-color: rgb(181, 228, 109);
    position: absolute;
    top: 50px;
    right: 50px;
}
.text2{
  text-align: center;
    font-size: 50px;
    color: white;
    padding-top: 20px;  
}
.item3{
    width: 300px;
    height: 300px;
    background-color: pink;
    position: ;
}
 */
.main{
    width: 800px;
    height: 400px;
    border: 5px solid rosybrown;
    display: flex;
    padding: 10px;
    gap: 10px;
}
.item{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.item1{
    background-color: #f99d9d;
    flex-grow: 1;
    flex-basis: 40%;

}
.item2{
    background-color: limegreen;
    flex-grow:1  ;
     flex-basis: 50%; 
      width: 800px;
    height: 200px;  
}
.item3{
    background-color: rgb(233, 116, 136);
    
     width: 300px;
    height:100px ; 
    display: flex;
    align-items: flex-end;
}