*{
    margin: 0;
    padding: 0;
}
.main2{
      display: flex;
      flex-wrap: wrap;         
} 
.main2>div{
        border: 2px solid black;
      width: 200px;
    height: 200px;  
    background-color: green;
} 

.box1{
    flex-basis: 30; 
    flex-shrink: 1; 
}
.box2{
     flex-basis: 1%; 
    flex-grow: 1;

}
.box3{
    flex-grow: 1;
}
.box4{
    flex-basis: 20;
    flex-shrink: 1;
}
.box5{
    flex-basis: 20;
    flex-shrink: 1;
}
.box6{
    flex-basis: 5%;
    flex-grow: 1;
}
.box7{
    flex-basis: 5%;
    flex-grow: 1;
}
.box8{
    flex-basis: 20;
    flex-shrink: 1;
}