*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.boxes{
    width: 1200px;
    background-color: green;
    display: flex;
    height: 100vh;
    margin: auto;
}
.row1{
    width: 300px;
    height: 500px;
}
.box1{
    width: 300px;
    height: 250px;
    border: 5px solid black;
}
.box2{
    width:300px ;
    height: 400px;
    border: 5px solid black;
    border-top: 0px;
}
.row2{
    width: 300px;
    height: 300px;
}
.box3{
    width: 300px;
    height: 400px;
    border: 5px solid black;
    border-left: 0;
    border-right: 0;
    border-bottom: 0cap;
}
.box4{
    width: 300px;
    height: 250px;
    border: 5px solid black;
     border-left: 0;
    border-right: 0;
}
.row3{
    width: 300px;
    height: 300px;
}
.box5{
    width: 300px;
    height: 150px;
    border: 5px solid black;
     border-right: 0;
     border-bottom: 0;
}
.box6{
    width: 300px;
    height: 500px;
    border: 5px solid black;
     border-right: 0;
}
.row4{
    width: 300px;
    height: 300px;
}
.box7{
    width: 300px;
    height: 200px;
    border: 5px solid black;
}
.box8{
    width: 300px;
    height: 450px;
    border: 5px solid black;
    border-top: 0;
}

