*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
main{
    display: flex;
   max-width: 800px;
   height: 100vh;
   margin: auto;
   background-color: lightgray;
   color: white;
   gap: 20px;
}
.box-1{
    margin-top: 10px;
    text-align: center;
   align-content: center;
    background-color: rgb(236, 143, 190);
    width: 40%;
    height: 500px;
}
.right{
    
    margin-top: 10px;
    gap: 10px;
    width: 60%;
}
.box-2{
     text-align: center;
   align-content: center;
    background-color: rgb(198, 248, 123);
    height: 300px;
}
.right-bottom{
    display: flex;
    margin-top: 10px;
    gap: 10px;
    
}
.box-3{
     text-align: center;
   align-content: center;
    width: 250px;
    background-color: palevioletred;
    height: 190px;
}
.sub-bottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    
}
.box-4a{
    background-color: rgb(116, 116, 231);
    height: 85px;
    width: 180px;
     text-align: center;
   align-content: center;
}
.box-4b{
    background-color: rgb(112, 112, 227);
    height: 85px;
    width: 180px;
     text-align: center;
   align-content: center;
}
    
